#background-img-container {
  height: 15em;
  width: auto;
  overflow: hidden;
  /* Sobreponer */
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}

#background-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

#profile-img-container {
  height: 10em;
  width: 10em;
  position: relative;
  top: -5em;
  z-index: 2;
}

#profile-image {
  height: 10em;
  width: 10em;
  object-fit: cover;
  /* Sopreponer */
  position: relative;
  top: -5em;
  z-index: 2;
}

#project-image {
  height: 5em;
  width: auto;
}

.icon {
  height: 2em;
  width: auto;
}

body {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    355deg,
    rgba(0, 0, 0, 1) 18%,
    rgba(8, 27, 59, 1) 62%
  );
  background-attachment: fixed;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
}

li {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
}

h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
}