---
import About from "../components/sections/About.astro";
import Experience from "../components/sections/Experience.astro";
import Projects from "../components/sections/Projects.astro";
import Skills from "../components/sections/Skills.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Oliver Castillo">
  <main>
    <About />
    <Experience />
    <Projects />
    <Skills />
  </main>
</Layout>
