<!-- <div>
  <button id="btn_eng">English</button>
  <button id="btn_esp">Spanish</button>
</div>

<script>
  let language = "es";
  navigator.geolocation.getCurrentPosition((position) => {
    const language = position.coords.latitude > 0 ? "en" : "es";
    console.log(language);
  });

  document.getElementById("btn_eng").addEventListener("click", () => {
    console.log("testing...");
    document.getElementById("btn_eng").innerHTML = "English";
    document.getElementById("btn_esp").innerHTML = "Spanish";
  });
  document.getElementById("btn_esp").addEventListener("click", () => {
    console.log("testing...");
    document.getElementById("btn_eng").innerHTML = "Inglés";
    document.getElementById("btn_esp").innerHTML = "Español";
  });
</script>
 -->